body{
    align-items: center;
}

h1 { font-size: 28px; font-weight: 400; }
h2 { font-size: 17px; font-weight: 700; margin-top: 15px; }

label {
    display: block;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 8px;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="password"],
select,
input[type="textarea"] {
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #888;
    border-radius: 3px;
    font-size: 13px;
    box-sizing: border-box;
}


button{
    margin-top: 10px;
    background-color: #f3ca83;
    border: .5px solid black;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 12px;
    max-width: 100px;
}
